<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='/scripts.js') }}"></script>
    {% block title %}{% endblock %}
</head>
<body>
    <nav class="navbar py-0 ps-0 base-color" data-bs-theme="dark">
        <div class="container-fluid justify-content-evenly ps-0">
            <a class="navbar-brand py-0 text-muted fs-3" href="#">Ustacky</a>
            <div class="navbar-nav float-end flex-row fs-5 w-75">
              <a class="nav-link px-3 me-auto {% block home_active %}{% endblock %}" 
              href="{{ url_for('index') }}">Home</a>
              <a class="nav-link px-3 {% block dash_active %}{% endblock %}" 
              href="{{ url_for('dashboard') }}">Dashboard</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid container-height">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer base-color">
        <div class="container text-end text-light">
          <p class="mb-0 mt-2">&copy;2021 - Ustacky. All Rights Reserved</p>
          <small class="fst-italic">~xerosine</small>
        </div>
    </footer>
</body>
</html>